@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
width:0px;
height: 0px;
}

img {
    width: 100vw;
    margin-bottom: -10px;
}

a {
    display: block;
    background-color: rgb(139, 0, 109);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    transition: all .5s;
}

a:hover {
    background-color: rgb(136, 43, 179);
    transition: all .5s;
}
